<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Воронка продаж</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
<div class="container">
    <div class="global-search-container">
        <input type="text" id="global-search" placeholder="Поиск сделок...">
        <button id="clear-global-search" style="position: absolute; right: 0;">X</button>
        <div class="search-results" id="search-results"></div>
    </div>
    <div class="funnel-container">
        <div class="funnel">
            <div class="funnel-inner">
                <div class="stage stage-1" onclick="showDealsModal('Создана сделка')">
                    Создана сделка
                </div>
                <div class="stage stage-2" onclick="showDealsModal('Коммерческое предложение')">
                    Коммерческое предложение
                </div>
                <div class="stage stage-3" onclick="showDealsModal('Счёт или договор')">
                    Счёт или договор
                </div>
                <div class="stage stage-4" onclick="showDealsModal('Дизайн/Производство')">
                    Дизайн/Производство
                </div>
                <div class="stage stage-5" onclick="showDealsModal('Закрытие сделки')">
                    Закрытие сделки
                </div>
            </div>
        </div>
        <div class="modal" id="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Сделки этапа</h3>
                <div class="search-container">
                    <input type="text" id="stage-search" placeholder="Поиск сделок...">
                    <button id="clear-stage-search" style="position: absolute; right: 0;">X</button>
                </div>
                <ul class="deals-list">
                    <!-- Здесь будут сделки выбранного этапа -->
                </ul>
            </div>
        </div>
        <div class="modal" id="deal-modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3 class="deal-title"></h3>
                <div class="deal-info">
                    <div class="deal-stage"></div>
                    <div class="deal-cost"></div>
                </div>
                <div class="deal-dates">
                    <div class="deal-created-date"></div>
                    <div class="deal-client-name"></div>
                </div>
                <div class="deal-additional-info"></div>
            </div>
        </div>
    </div>
    {#    <form action="/add_deal" method="post">#}
    {#        <label for="name">Название сделки:</label>#}
    {#        <input type="text" name="name" required>#}
    {#        <br>#}
    {#        <label for="stage">Этап сделки:</label>#}
    {#        <select name="stage" required>#}
    {#            <option value="Создана сделка">Создана сделка</option>#}
    {#            <option value="Коммерческое предложение">Коммерческое предложение</option>#}
    {#            <option value="Счёт или договор">Счёт или договор</option>#}
    {#            <option value="Дизайн-Производство">Дизайн/Производство</option>#}
    {#            <option value="Закрытие сделки">Закрытие сделки</option>#}
    {#        </select>#}
    {#        <br>#}
    {#        <label for="cost">Стоимость сделки:</label>#}
    {#        <input type="number" name="cost" required>#}
    {#        <br>#}
    {#        <label for="created_date">Дата создания сделки:</label>#}
    {#        <input type="date" name="created_date" required>#}
    {#        <br>#}
    {#        <label for="client_name">Имя клиента:</label>#}
    {#        <input type="text" name="client_name" required>#}
    {#        <br>#}
    {#        <label for="additional_info">Дополнительная информация:</label>#}
    {#        <textarea name="additional_info"></textarea>#}
    {#        <br>#}
    {#        <input type="submit" value="Добавить сделку">#}
    {#    </form>#}
</div>
<script src="../static/scripts.js"></script>
</body>

</html>