body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #654ea3;
    background: -webkit-linear-gradient(to bottom, #eaafc8, #654ea3);
    background: linear-gradient(to bottom, #eaafc8, #654ea3);
    height: 100vh;
    margin: 0;
}


.funnel {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    width: 520px;
    clip-path: polygon(0% 100%, 100% 100%, 80% 0%, 20% 0%);
    transform: rotate(180deg);
    box-shadow: 10px 10px 15px 5px;
}

.funnel-inner {
    transform: rotate(180deg);
}

.stage {
    margin: 0 auto;
    position: relative;
    padding: 40px;
    cursor: pointer;
    text-align: center;
    color: ghostwhite;
    font-size: 24px;
}

.stage-1 {
    background-color: #eaafc8;

}

.stage-2 {
    border: 3px solid lightgrey;
    background-color: rgb(210, 160, 190);
}

.stage-3 {
    border-bottom: 3px solid lightgrey;
    background-color: rgb(180, 140, 180);
}

.stage-4 {
    border-bottom: 3px solid lightgrey;
    background-color: rgb(141, 114, 170);
}

.stage-5 {
    background-color: #654ea3;
}


.stage:hover {
    background-color: #E0C3FC;
}

.stage:last-of-type {
    border: none;
}

.stage-inner {
    transform: rotate(180deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content h3 {
    padding-left: 25px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deals-list li {
    cursor: pointer;
    margin-bottom: 15px;
    height: 35px;
    font-size: 20px;
}

.deals-list li:hover {
    color: #E0C3FC;
}

form {
    width: 30%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}

form label {
    margin-bottom: 5px;
}

.global-search-container {
    font-size: 20px;
    position: relative;
    margin-bottom: 100px;
    width: 520px;
    padding-right: 30px;
}

.search-container {
    font-size: 20px;
    position: relative;
    width: 300px;
    padding-right: 30px;
}

.global-search-container input[type="text"], .search-container input[type="text"] {
    height: 40px; /* Adjust this value to change the search bar's height */
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}

#clear-global-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: #E0C3FC;
    border-color: #8EC5FC;
}

#clear-stage-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 120px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: #E0C3FC;
    border-color: #8EC5FC;
}

#global-search {
    width: 100%;
    box-sizing: border-box;
}

#stage-search {
    width: 80%;
    box-sizing: border-box;
}

.search-container {
    position: relative;
    width: 100%;
    margin-left: 25px;
}

.search-results {
    position: absolute;
    width: 99.4%;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 5px;

}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    /*background-color: #E0C3FC;*/
    color: #E0C3FC;
}

.deal-title {
    text-align: center;
}

.deal-top-container {
    display: flex;
    flex-direction: column;
}

.deal-info, .deal-dates {
    display: flex;
    flex-direction: row;
}

.deal-stage, .deal-cost, .deal-created-date, .deal-client-name {
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}

.deal-additional-info {
    padding: 10px;
    border: 1px solid black;
}