body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);*/
    background: #654ea3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eaafc8, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    height: 100vh;
    margin: 0;
}


.funnel {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    width: 400px;
    clip-path: polygon(0% 100%, 100% 100%, 80% 0%, 20% 0%);
    transform: rotate(180deg);
    box-shadow: 10px 10px 15px 5px;
    /*border-top: 4px solid;*/
    /*border-bottom: 4px solid;*/
}

.funnel-inner {
    transform: rotate(180deg);
}

.stage {
    margin: 0 auto;
    position: relative;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    color: ghostwhite; /* Белый текст */
    /*text-shadow: 2px 2px 2px rgb(0, 0, 0); !* Тень текста *!*/

}

/*white*/
/*#CF9FFF*/
/*#E0C3FC*/
/*#E0B0FF*/
/*#BF40BF*/

.stage-1 {
    /*background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC 100%);*/
    /*background-color: rgb(118, 66, 215);*/
    /*background-color: rgb(137, 109, 224);*/
    background-color: #eaafc8;

}

.stage-2 {
    /*border: 3px solid #808080; !* Добавленные черные рамки *!*/
    border: 3px solid lightgrey; /* Добавленные черные рамки */
    /*background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC 100%);*/
    /*background-color: rgb(137, 109, 224);*/
    background-color: rgb(210, 160, 190);
}

.stage-3 {
    border-bottom: 3px solid lightgrey;

    /*background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC 100%);*/
    background-color: rgb(180, 140, 180);
}

.stage-4 {
    border-bottom: 3px solid lightgrey;
    /*background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC 100%);*/
    background-color: rgb(141, 114, 170);
}

.stage-5 {
    background-color: #654ea3;

    /*background-color: rgb(235, 63, 113);*/
    /*background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC 100%);*/
}


.stage:hover {
    opacity: 50%;
}

.stage:last-of-type {
    border: none;
}

.stage-inner {
    transform: rotate(180deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content h3 {
    padding-left: 25px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deals-list li {
    cursor: pointer;
    margin-bottom: 15px;
}

form {
    width: 30%;
    margin: 0 auto;
    display: block;
    /* Установить форму как блочный элемент */
    padding-top: 20px;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}

form label {
    margin-bottom: 5px;
}

.global-search-container {
    font-size: 16px;
    position: relative;
    margin-bottom: 100px;
    width: 400px;
    padding-right: 35px;
}

.global-search-container input[type="text"] {
    height: 30px; /* Adjust this value to change the search bar's height */
    font-size: 16px;
}

#clear-global-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #E0C3FC;
    border-color: #8EC5FC;
}


#global-search,
#stage-search {
    width: 100%;
    box-sizing: border-box;
}

.search-container {
    position: relative;
    width: 96.5%;
    margin-left: 25px;
}

.search-results {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f1f1f1;
}

.deal-title {
    text-align: center;
}

.deal-top-container {
    display: flex;
    flex-direction: column;
}

.deal-info, .deal-dates {
    display: flex;
    flex-direction: row;
}

.deal-stage, .deal-cost, .deal-created-date, .deal-client-name {
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}

.deal-additional-info {
    padding: 10px;
    border: 1px solid black;
}