body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8dda7;
    height: 100vh;
    margin: 0;
}


.funnel {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    width: 400px;
    clip-path: polygon(0% 100%, 100% 100%, 80% 0%, 20% 0%);
    transform: rotate(180deg);
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
}

.funnel-inner {
    transform: rotate(180deg);
}
.stage {
    margin: 0 auto;
    position: relative;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    color: #ffffff; /* Белый текст */
    text-shadow: 2px 2px 5px rgb(0, 0, 0); /* Тень текста */

}


.stage-1 {
    background-color: #e12727;
}

.stage-2 {
    border: 4px solid #000000; /* Добавленные черные рамки */
    background-color: #eeee42 /* Жёлтый */
}

.stage-3 {
    border-bottom: 4px solid #000000; /* Добавленные черные рамки */
    background-color: #17d917; /* Зелёный */
}

.stage-4 {
    border-bottom: 5px solid #000000; /* Добавленные черные рамки */
    background-color: #2121ef; /* Синий */
}

.stage-5 {
    background-color: #de3ede; /* Фиолетовый */
}


.stage:hover {
    opacity: 50%;
}

.stage:last-of-type {
    border: none;
}

.stage-inner {
    transform: rotate(180deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content h3 {
    padding-left: 25px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deals-list li {
    cursor: pointer;
    margin-bottom: 15px;
}

form {
    width: 30%;
    margin: 0 auto;
    display: block;
    /* Установить форму как блочный элемент */
    padding-top: 20px;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
}

form label {
    margin-bottom: 5px;
}

.global-search-container {
    position: relative;
    margin-bottom: 100px;
    width: 400px;
}

#global-search,
#stage-search {
    width: 100%;
    box-sizing: border-box;
}

.search-container {
    position: relative;
    width: 96.5%;
    margin-left: 25px;
}

.search-results {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f1f1f1;
}

.deal-title {
    text-align: center;
}

.deal-top-container {
    display: flex;
    flex-direction: column;
}

.deal-info, .deal-dates {
    display: flex;
    flex-direction: row;
}

.deal-stage, .deal-cost, .deal-created-date, .deal-client-name {
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}

.deal-additional-info {
    padding: 10px;
    border: 1px solid black;
}